<header >

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
      <div class="container-fluid">	<a class="navbar-brand" href="#"><img src="/assets/images/chitchat-logo.svg" style="height: 30px;"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent3">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> <a class="nav-link  <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/"><i class="bx bx-gift me-1"></i>Shop</a>
            </li>
            <li class="nav-item"> <a class="nav-link <%= path === '/shops/products' ? 'active' : '' %>" href="/shops/products"><i class="bx bx-category-alt me-1"></i>Products</a>
            </li>
            <li class="nav-item"> <a class="nav-link <%= path === '/shops/carts' ? 'active' : '' %>" href="/shops/carts"><i class="bx bx-cart me-1"></i>Cart</a>
            </li>
            <li class="nav-item"> <a class="nav-link <%= path === '/shops/orders' ? 'active' : '' %>" href="/shops/orders"><i class="bx bx-customize me-1"></i>Order</a>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Admins
      </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item <%= path === '/admins/products/create' ? 'active' : '' %>" href="/admins/products/create"><i class="bx bx-category-alt me-1"></i>Add-Products</a>
                </li>
                <li><a class="dropdown-item <%= path === '/admins/products' ? 'active' : '' %>" href="/admins/products"><i class="bx bx-user-plus me-1"></i>Admin-Products</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn btn-dark me-1 radius-30 px-4" type="submit"><i class="bx bx-lock"></i> Login</button>
            <button class="btn btn-light radius-30 px-6" type="submit"><i class="bx bx-user"></i> Register</button>
          </form>
        </div>
      </div>
    </div>

</header> 


